<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
  <!-- ConsoleAppender is used while in development. Deactivate when releasing -->
  <appender name="A1" class="org.apache.log4j.ConsoleAppender">
    <layout class="org.apache.log4j.PatternLayout"> 
      <!-- Print the date in ISO 8601 format -->
      <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n"/> 
    </layout> 
  </appender> 
  <appender name="F" class="org.apache.log4j.FileAppender">
    <param name="File" value="/tmp/portfolio.log" />
    <param name="Append" value="true" />
    <layout class="org.apache.log4j.PatternLayout"> 
      <!-- Print the date in ISO 8601 format -->
      <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n"/> 
    </layout> 
  </appender> 
  <logger name="com.basus.portfolio">
    <!-- Print only messages of level debug or above in the package com.basus.portfolio -->
    <level value="debug"/> 
  </logger>
  <logger name="httpclient.wire">
    <level value="info"/>
  </logger>
  <logger name="org.apache.commons.httpclient">
    <level value="info"/>
  </logger>
  <root> 
    <priority value ="debug" /> 
    <appender-ref ref="A1" /> 
    <appender-ref ref="F" />
  </root>
</log4j:configuration>